@import "tailwindcss";

@theme {
  --color-ash-50: oklch(0.96 0 0);
  --color-ash-100: oklch(0.91 0 0);
  --color-ash-200: oklch(0.81 0 0);
  --color-ash-300: oklch(0.72 0 0);
  --color-ash-400: oklch(0.62 0 0);
  --color-ash-500: oklch(0.5 0 0);
  --color-ash-600: oklch(0.39 0 0);
  --color-ash-700: oklch(0.27 0 0);
  --color-ash-800: oklch(0.13 0 0);
  --color-ash-900: oklch(0.11 0 0);
  --color-ash-950: oklch(0.1 0 0);

  --color-cyan: oklch(0.84 0.1253 176.45);
}

@layer base {
  * {
    @apply border-ash-700;
  }

  body {
    background-color: #1e1e1e;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    line-height: 1.6;
  }
}

.grid-pattern {
  background-image:
    linear-gradient(to right, var(--color-ash-500) 2px, transparent 2px),
    linear-gradient(to bottom, var(--color-ash-500) 2px, transparent 2px);
  background-size: 5vh 5vh;
  background-position: center;
  opacity: 0.2;
}

.grain-noise {
  background-image: url('/grain.webp');
  animation: animate-grain 8s steps(10) infinite;
  opacity: 0.05;
}

@keyframes animate-wave-shadow {

  0%,
  100% {
    box-shadow:
      0px 0px 0px 1px rgba(165, 165, 165, 0.04),
      -9px 9px 9px -0.5px rgba(0, 0, 0, 0.04),
      -18px 18px 18px -1.5px rgba(0, 0, 0, 0.08),
      -37px 37px 37px -3px rgba(0, 0, 0, 0.16),
      -75px 75px 75px -6px rgba(0, 0, 0, 0.24),
      -150px 150px 150px -12px rgba(0, 0, 0, 0.48);
  }

  25% {
    box-shadow:
      0px 0px 0px 1px rgba(165, 165, 165, 0.04),
      -7px 11px 9px -0.5px rgba(0, 0, 0, 0.04),
      -14px 22px 18px -1.5px rgba(0, 0, 0, 0.08),
      -29px 45px 37px -3px rgba(0, 0, 0, 0.16),
      -59px 91px 75px -6px rgba(0, 0, 0, 0.24),
      -118px 182px 150px -12px rgba(0, 0, 0, 0.48);
  }

  50% {
    box-shadow:
      0px 0px 0px 1px rgba(165, 165, 165, 0.04),
      -9px 9px 9px -0.5px rgba(0, 0, 0, 0.04),
      -18px 18px 18px -1.5px rgba(0, 0, 0, 0.08),
      -37px 37px 37px -3px rgba(0, 0, 0, 0.16),
      -75px 75px 75px -6px rgba(0, 0, 0, 0.24),
      -150px 150px 150px -12px rgba(0, 0, 0, 0.48);
  }

  75% {
    box-shadow:
      0px 0px 0px 1px rgba(165, 165, 165, 0.04),
      -11px 7px 9px -0.5px rgba(0, 0, 0, 0.04),
      -22px 14px 18px -1.5px rgba(0, 0, 0, 0.08),
      -45px 29px 37px -3px rgba(0, 0, 0, 0.16),
      -91px 59px 75px -6px rgba(0, 0, 0, 0.24),
      -182px 118px 150px -12px rgba(0, 0, 0, 0.48);
  }
}

@keyframes animate-grain {

  0%,
  100% {
    transform: translate(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-5%, -10%);
  }

  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translate(-15%, -20%);
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.animate-wave-shadow {
  animation: animate-wave-shadow 8s ease-in-out infinite;
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
